.*
!/.gitignore
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914879.bam
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914882.bam
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914880.bam
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914881.bam
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914878.bam
chipseq/data/GSE66868_DNA_mapping/Bowtie2/SRR1914883.bam
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914880.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914881.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914881.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914883.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914879.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914880.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914878.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914878.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914882.filtered.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914882.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914879.seq_depth_norm.bw
chipseq/data/GSE66868_DNA_mapping/bamCoverage/SRR1914883.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/Bowtie2/SRR1930030.bam
chipseq/data/GSE67293_DNA_mapping/Bowtie2/SRR1930028.bam
chipseq/data/GSE67293_DNA_mapping/Bowtie2/SRR1930029.bam
chipseq/data/GSE67293_DNA_mapping/Bowtie2/SRR1930031.bam
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930031.filtered.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930031.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930028.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930029.filtered.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930030.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930030.filtered.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930028.filtered.seq_depth_norm.bw
chipseq/data/GSE67293_DNA_mapping/bamCoverage/SRR1930029.seq_depth_norm.bw
chipseq/data/GSE139509/SRR10357001_1.fastq.gz
chipseq/data/GSE139509/SRR10357004_1.fastq.gz
chipseq/data/GSE139509/SRR10357003_1.fastq.gz
chipseq/data/GSE139509/SRR10356998_1.fastq.gz
chipseq/data/GSE139509/SRR10356997_1.fastq.gz
chipseq/data/GSE139509/SRR10357002_1.fastq.gz
chipseq/data/GSE139509/SRR10356999_1.fastq.gz
chipseq/data/GSE139509/SRR10357000_1.fastq.gz
chipseq/data/GSE66868/SRR1914883_1.fastq.gz
chipseq/data/GSE66868/SRR1914879_1.fastq.gz
chipseq/data/GSE66868/GSM1633578_MeCP2.wig.gz
chipseq/data/GSE66868/SRR1914882_1.fastq.gz
chipseq/data/GSE66868/SRR1914880_1.fastq.gz
chipseq/data/GSE66868/SRR1914878_1.fastq.gz
chipseq/data/GSE66868/GSM1633577_input.wig.gz
chipseq/data/GSE66868/SRR1914881_1.fastq.gz
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10357003.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10356997.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10356998.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10356999.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10357004.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10357000.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10357001.bam
chipseq/data/GSE139509_DNA_mapping/Bowtie2/SRR10357002.bam
chipseq/data/GSE139509_DNA_mapping/deepTools_qc/plotCoverage/read_coverage.tsv
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357003.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357000.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357002.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357001.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357000.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356999.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357002.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356998.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357004.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356997.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357004.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356999.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357003.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10357001.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356997.filtered.seq_depth_norm.bw
chipseq/data/GSE139509_DNA_mapping/bamCoverage/SRR10356998.filtered.seq_depth_norm.bw
chipseq/data/GSE67293/SRR1930028_1.fastq.gz
chipseq/data/GSE67293/GSM1643937_INPUT_MeCP2_ChIP_FC2.bw
chipseq/data/GSE67293/SRR1930029_1.fastq.gz
chipseq/data/GSE67293/SRR1930030_1.fastq.gz
chipseq/data/GSE67293/GSM1643936_MeCP2IP_MeCP2_ChIP_FC2.bw
chipseq/data/GSE67293/SRR1930031_1.fastq.gz
chipseq/data/GSE67293/GSM1643935_INPUT_MeCP2_ChIP_FC1.bw
chipseq/data/GSE67293/GSM1643934_MeCP2IP_MeCP2_ChIP_FC1.bw
chipseq/window_averages/wgbs/boxer_CAC.mm9.1kb.unsorted.bedGraph
chipseq/window_averages/wgbs/boxer_CAC.mm9.1kb.sorted.bedGraph
chipseq/window_averages/wgbs/boxer_CAC.mm9.1kb.sorted.merged.bedGraph
methods/chr10.fa
methods/data/chm13.draft_v1.1.fasta.gz
methods/data/mm10.genome.fa
methods/data/mm9.genome.fa
methods/data/mm9.chromFa.tar.gz
methods/data/mm10.fa.gz
methods/data/chm13.draft_v1.1.fasta
methods/data/mm10.rmsk.txt.gz
methods/data/t2t-chm13-v1.1.rmsk.bed
methods/data/mm9.rmsk.txt.gz
methods/data/t2t-chm13-v1.1.rmsk.bigBed
methods/chr1.fa
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.CA.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.CAC.10.subtract.CAn.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.CAC.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.CA.10.subtract.CAn.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_6wk.CA.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_6wk.CAC.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.CA.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.CAC.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.CG.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.CA.10.subtract.CAn.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.CG.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_6wk.CG.10.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_6wk.CAC.10.subtract.CAn.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_6wk.CA.10.subtract.CAn.bedGraph.gz
wgbs/GSE47966/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.CAC.10.subtract.CAn.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CG.10.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CAC.10.subtract.CAn.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CA.10.subtract.CAn.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CAC.5.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CA.5.subtract.CAn.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CAC.5.subtract.CAn.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CG.5.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CA.5.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CAC.10.bedGraph.gz
wgbs/GSE84533/GSE84533_hypothalamus_rep123.CA.10.bedGraph.gz
wgbs/data/GSE128172_MeCP2_WT_OX_rep123.preprocess.gz
wgbs/data/GSE128172_MeCP2_WT_OX_rep123.txt.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_6wk.bedGraph.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_6wk.txt.gz
wgbs/data/GSE84533_GSM2241594_hypothalamus_2.txt.gz
wgbs/data/GSE84533_GSM2241595_hypothalamus_3.txt.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.bedGraph.gz
wgbs/data/GSE84533.merged.bed.gz
wgbs/data/GSE128172_MeCP2_WT_OX_merged.txt.gz
wgbs/data/GSE84533_GSM2241593_hypothalamus_1.txt.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.bedGraph.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_pos.txt.gz
wgbs/data/GSE47966_MethylC-Seq_mm_fc_male_7wk_neun_neg.txt.gz
wgbs/data/GSE84533.merged.bedGraph.gz
wgbs/GSE128172/GSE128172_MeCP2_WT_OX_rep123.CAC.5.bedGraph.gz
wgbs/GSE128172/GSE128172_MeCP2_WT_OX_rep123.CA.5.subtract.CAn.bedGraph.gz
wgbs/GSE128172/GSE128172_MeCP2_WT_OX_rep123.CA.5.bedGraph.gz
wgbs/GSE128172/GSE128172_MeCP2_WT_OX_rep123.CAC.5.subtract.CAn.bedGraph.gz
rnaseq/annotation/mus_musculus/transcriptome.idx
rnaseq/annotation/mus_musculus/Mus_musculus.GRCm38.96.gtf
rnaseq/annotation/mus_musculus/Mus_musculus.GRCm38.cdna.all.fa
rnaseq/annotation/mus_musculus/mm9.gtf
rnaseq/annotation/mus_musculus.tar.gz
rnaseq/data/GSE67294/SRR1930037_1.fastq.gz
rnaseq/data/GSE67294/SRR1930035_1.fastq.gz
rnaseq/data/GSE67294/SRR1930038_1.fastq.gz
rnaseq/data/GSE67294/SRR1930034_1.fastq.gz
rnaseq/data/GSE67294/SRR1930039_1.fastq.gz
rnaseq/data/GSE67294/SRR1930036_1.fastq.gz
rnaseq/data/GSE128178/SRR8714119_1.fastq.gz
rnaseq/data/GSE128178/SRR8714116_1.fastq.gz
rnaseq/data/GSE128178/SRR8714133_1.fastq.gz
rnaseq/data/GSE128178/SRR8714131_1.fastq.gz
rnaseq/data/GSE128178/SRR8714130_1.fastq.gz
rnaseq/data/GSE128178/SRR8714128_1.fastq.gz
rnaseq/data/GSE128178/SRR8714120_1.fastq.gz
rnaseq/data/GSE128178/SRR8714117_1.fastq.gz
rnaseq/data/GSE128178/SRR8714132_1.fastq.gz
rnaseq/data/GSE128178/SRR8714129_1.fastq.gz
rnaseq/data/GSE128178/SRR8714127_1.fastq.gz
rnaseq/data/GSE128178/SRR8714124_1.fastq.gz
rnaseq/data/GSE128178/SRR8714123_1.fastq.gz
rnaseq/data/GSE128178/SRR8714126_1.fastq.gz
rnaseq/data/GSE128178/SRR8714122_1.fastq.gz
rnaseq/data/GSE128178/SRR8714115_1.fastq.gz
rnaseq/data/GSE128178/SRR8714118_1.fastq.gz
rnaseq/data/GSE128178/SRR8714114_1.fastq.gz
rnaseq/data/GSE128178/SRR8714125_1.fastq.gz
rnaseq/data/GSE128178/SRR8714121_1.fastq.gz
rnaseq/data/GSE66870/SRR1914885_2.fastq.gz
rnaseq/data/GSE66870/SRR1914887_1.fastq.gz
rnaseq/data/GSE66870/SRR1914890_2.fastq.gz
rnaseq/data/GSE66870/SRR1914885_1.fastq.gz
rnaseq/data/GSE66870/SRR1914889_2.fastq.gz
rnaseq/data/GSE66870/SRR1914887_2.fastq.gz
rnaseq/data/GSE66870/SRR1914888_1.fastq.gz
rnaseq/data/GSE66870/SRR1914886_2.fastq.gz
rnaseq/data/GSE66870/SRR1914888_2.fastq.gz
rnaseq/data/GSE66870/SRR1914890_1.fastq.gz
rnaseq/data/GSE66870/SRR1914889_1.fastq.gz
rnaseq/data/GSE66870/SRR1914886_1.fastq.gz
rnaseq/methylation/GSE47966_MethylC-Seq_mm_fc_6wk.CAC.10.minus.CAn.bedGraph.gz
